body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container {
    border: solid #3882f6;
    background-color: #3882f6;
    border-radius: 10px;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
}

.display{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 60%;
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom:10%
}

.input{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    padding: 2.5%;
}

.text-info{
    display: flex;
    justify-content: space-around;
    margin-bottom:5%;
}

.password-strength{
    font-size: larger;
}

.estimated-time-tocrack{
    font-size: larger;
    margin-left: 10%;
}

.title,
.sub-title{
    text-align: center;
    color: white;
    
}



span{
    color: rgb(2, 15, 102);
    font-size: larger;
}

.display-strength,
.cracking-time{
    font-size: medium;
}