body {
    background-color: rgb(149, 162, 228);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.container {
    border: solid #3882f6;
    background-color: #3882f6;
    border-radius: 10px;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
}


.title,
.sub-title{
    text-align: center;
    color: white;
}


.display{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

.generate-password{
    display: flex;
    justify-content: end;
    margin-top: 5%;
    margin-right: 5%;
}

button{
    padding: 1.5%;
    border-radius: 5px;
    background-color: rgb(13, 43, 240);
    border: rgb(13, 43, 240);
    color: white;
}

.input{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    padding: 2.5%;
    font-size: 30px;
}

.text-info{
    display: flex;
    justify-content: space-between;
    margin-bottom:5%;
}

.password-strength{
    font-size: larger;
    margin-left: 10%;
}

.estimated-time-tocrack{
    font-size: larger;
    margin-right: 10%;
}



/*Your Password Strenght: 
 Estimated Time to Crack: */
span{
    color: rgb(2, 15, 102);
    font-size: larger;
}

.display-strength,
.cracking-time{
    font-size: larger;
}

.ol{
    margin-top: 1.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.note{
    color: rgb(235, 217, 217);
    font-weight: 500;
    text-align: center;
} 

.inspiration{
    text-align: center;
}



@media only screen and (max-width:900px){    
    
    /* made font size smaller */
    span{
        font-size: small;
    }
    /* made font size smaller */
    
    .display-strength,
    .cracking-time{
    font-size: small;
    }


    /* remove padding, give more breathing space */
    .password-strength{
        font-size: smaller;
        margin-left: 0%;
    }
    .estimated-time-tocrack{
        font-size: smaller;
        margin-right: 0%;
    }
}
    
